body {
    background-color: var(--black);
    font-family: var(--font-dm-sans);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0.75rem;
    width: 19rem;
}

.sidebar__navigation {
    background-color: var(--sidebar-bg-color);
    border-radius: var(--border-radius-sm);
    padding: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;

}

.sidebar__navigation .logo {
    background: var(--sidebar-bg-color);
    display: flex;
    border-radius: var(--border-radius-sm);
    padding: 1rem 0 0 1rem;
}


.logo img {
    width: 5rem;
}

.sidebar nav ul {
    margin-top: 1.25rem;
    padding: 0 1.25rem 0.625rem;
}

.sidebar nav ul li {
    padding: 0.625rem 0;
}

.sidebar nav ul li a {
    color: var(--sidebar-font-color);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--default-font-size);


}

.sidebar__library {
    background-color: var(--sidebar-bg-color);
    border-radius: var(--border-radius-sm);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--xs-spacing) var(--sm-spacing);
    color: var(--sidebar-font-color);
    font-weight: 600;
    font-size: var(--default-font-size);
    margin-top: 0.625rem;
}

.sidebar__library .library__content {
    display: flex;
    justify-content: space-between;
}

.sidebar__library .library__button {
    display: flex;
    margin-right: 0.625rem;
    color: var(--sidebar-font-color);
    background-color: transparent;
    border: 0;
    font-size: var(--default-font-size);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 1.25rem 0.625rem;
}

.sidebar__library .library__button .fa-book {
    font-size: 1.25rem;
    margin-right: 0.625rem;
    padding-right: var(--sm-spacing);
}

.sidebar__library .library__content .fa-plus {
    margin: 1.5rem 0.625rem;
}

.section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--xl-spacing);
    background-color: var(--section-playlist-color);
    color: var(--sidebar-font-color);
    font-size: var(--default-font-size);
    margin: var(--sm-spacing) 0;
    padding: var(--lg-spacing) var(--xl-spacing);
    border-radius: var(--border-radius-sm);
}

.section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
}

.section-playlist__content .text {
    padding-bottom: var(--md-spacing);
}

.section-playlist__content .title {
    font-weight: 700;
}

.section-playlist__content .subtitle {
    font-weight: 500;
    font-size: var(--sm-font-size);
}

.section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    background-color: var(--white);
    color: var(--black);
    border-radius: var(--border-radius-xl);
    font-size: var(--sm-font-size);
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: var(--625-spacing);
    margin-top: var(--75-spacing);
    border: 0;
    width: 7rem;
}

.sidebar .cookies {
    margin: var(--xxl-spacing) var(--xl-spacing);
}

.sidebar .cookies a {
    color: var(--sidebar-font-color);
    font-weight: 500;
    font-size: var(--xs-font-size);
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline
}

.languages .languages__button {
    background-color: transparent;
    border: var(--hairline-border-size) solid #878787;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
    width: 10.825rem;
    margin: var(--sm-spacing);
    padding: var(--sm-spacing);
    border-radius: var(--border-radius-xl);
}

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: var(--lg-spacing) calc(var(--lg-spacing) * 2.5);
}

.disclaimer-premium .text {
    flex-shrink: 0;
}

.disclaimer-premium .disclaimer-premium__title {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: var(--sm-font-size);
    margin-bottom: var(--625-spacing);
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: #ffffff;
    font-size: var(--default-font-size);
    font-weight: 500;
}

.disclaimer-premium button {
    background-color: #ffffff;
    color: #000000;
    font-size: var(--1rem);
    font-weight: bold;
    padding: var(--md-spacing) calc(var(--lg-spacing) * 1.875);
    border: 0px;
    border-radius: var(--border-radius-2_5);
    cursor: pointer;
    flex-shrink: 0;
}